.text-brand {
    color: var(--brand-color);
}

.text-brand-dark{
    color: var(--brand-color-dark); 
}

.text-bold{
    font-weight: 600;
}

.text-uppercase {
    text-transform: uppercase;
}