:root {
    --brand-color: #819B57;
    --brand-color-dark: #465929;
    --white-primary-color: #FAF4EA;
    --dark-primary-color: #31261A;
    --decor-color-white: #CFCFBC;
    --secondary-brown: #A18268;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1200px;