.carousel-button {
    display: none;
    

    @media screen and (min-width: $bp-tablet) {
        display: flex;
            align-items: center;
            justify-content: center;
            width: 44px;
            height: 44px;
            border-radius: 50%;
            fill: var(--dark-primary-color);
            background-color: transparent;
            border: 1px solid var(--dark-primary-color);
            padding: 0;
            cursor: pointer;
            flex-shrink: 0;
    }
}

.carousel-button:hover {
    background-color: var(--dark-primary-color);
    fill: var(--white-primary-color);
}


.carousel-button.next {
    transform: rotate(180deg);
}