.footer {
    padding: 32px 0;
    position: relative;
    background-color: var(--dark-primary-color);
    background-image: url( '/images/background-footer.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &::before,
    &::after {
        position: absolute;
        background-repeat: no-repeat;
        content: '';
    }

    &::after{
        width: 85px;
        height: 92px;
        bottom: 0;
        right: 0;
        background-image: url('./images/decor-bread-large-mobile.png');

        @media screen and (min-width: $bp-tablet) {
            width: 320px;
            height: 180px;
            background-image: url('./images/decor-bread-large.png');
        }
    }

    &::before {
        width: 112px;
        height: 194px;
        background-image: url('./images/decor-bread-small-mobile.png');
        

        @media screen and (min-width: $bp-tablet) {
            left: 0;
            bottom: 0;
            width: 181px;
            height: 124px;
            background-image: url('./images/decor-bread-small.png');
            
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
        gap: 20px;

        @media screen and (min-width: $bp-tablet) {
            flex-direction: row;
        }
    }

    &__nav,
    &__address {
        display: flex;
        flex-direction: column;
        gap: 20px;
        text-align: center;

        @media screen and (min-width: $bp-tablet) {
            flex-direction: row;
            flex-basis: 50%;
            text-align: left;
        }
    }

    &__logo {
        flex-grow: 1;
    }

    &__menu {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        gap: 16px;
    }

    &__address-list,
    &__address-info {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        gap: 16px;
    }

    &__address-list,
    &__address-info {
        flex-grow: 1;
    }

    &__address-link {
        color: var(--white-primary-color);
        font-size: 16px;
        font-weight: 300;
        text-decoration: none;
        transition: color 0.3s;
    }

    &__address-link:hover {
        color: var(--brand-color-dark);
    }

    &__socials {
        display: flex;
        justify-content: center;
        gap: 24px;
        margin-top: 16px;

        @media screen and (min-width: $bp-tablet) {
            justify-content: flex-start;
        }
    }

    &__socials-icon {
        fill: var(--white-primary-color);
        transition: fill 0.3s;
    }

    &__socials-icon:hover {
        fill: var(--brand-color-dark);
    }

    &__address-copyright {
        color: var(--secondary-brown);
        font-size: 14px;
    } }