.mobile-menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
background-color: var(--white-primary-color);
transform: translateX(100%);
transition: transform 0.3s;
z-index: 2;


&.is-open{
    transform: translateX(0); 
}

&__btn-close{
    position: absolute;
    top: 16px;
    right: 24px;
    color: transparent;
    border: none;
}

&__decor{
    position: absolute;
    right: 0;
    bottom: 0;
}

&__logo{
    fill: url(--dark-primary-color);
    margin-top: 16px;
    margin-left: 24px;
    margin-bottom: 32px;
}

&__link{
    color: var(--dark-primary-color);
    font-weight: 400;
    text-decoration: none;
    margin-left: 24px;
    font-weight: 300;
        font-size: 14px;
        text-align: center;
    transition: color 0.3s;
  
    
    &:hover {
        color: var(--brand-color)
    }

   
}
    
&__menu {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
    


}