
.tradition-section {
    

    @media screen and (min-width:$bp-desktop){
        padding-top: 96px;
    }

&__title {
    margin-bottom: 24px;   }
    @media screen and (min-width:$bp-tablet){
        margin-bottom: 42px; 
    }

   &__container {
       display: flex;
       justify-content: space-between;
       gap: 40px;
       align-items: flex-start;
   }

   &__content {
       max-width: 710;
   }

   &__text--limited{
    
    @media screen and (min-width:$bp-desktop){
        max-width: 330px;
    }
   }


   &__image{
    display: none;
    border-radius: 400px 400px 0 0;

    @media screen and (min-width:$bp-tablet){
    display: block;
}
   }
}





